name: Build Geode Mod (Multi-platform)

on:
  push:
    branches: [ "main" ]

jobs:
  build-android64:
    runs-on: ubuntu-latest
    name: Android 64-bit
    steps:
    - uses: actions/checkout@v3
    - uses: nttld/setup-ndk@v1
      with:
        ndk-version: r26d
    - name: Download FFmpeg
      run: |
        mkdir -p thirdparty/ffmpeg/include thirdparty/ffmpeg/lib
        curl -L https://nightly.link/BtbN/FFmpeg-Builds/workflows/linux/main/ffmpeg-master.tar.xz | tar -xJ --strip-components=1 -C thirdparty/ffmpeg
    - name: Build
      run: |
        mkdir build
        cd build
        cmake .. \
          -DCMAKE_TOOLCHAIN_FILE=$ANDROID_NDK_HOME/build/cmake/android.toolchain.cmake \
          -DANDROID_ABI=arm64-v8a \
          -DANDROID_PLATFORM=android-21
        make
    - uses: actions/upload-artifact@v4
      with:
        name: android64-binary
        path: build/libdenys_video_importer.so

  build-android32:
    runs-on: ubuntu-latest
    name: Android 32-bit
    steps:
    - uses: actions/checkout@v3
    - uses: nttld/setup-ndk@v1
      with:
        ndk-version: r26d
    - name: Download FFmpeg
      run: |
        mkdir -p thirdparty/ffmpeg/include thirdparty/ffmpeg/lib
        curl -L https://nightly.link/BtbN/FFmpeg-Builds/workflows/linux/main/ffmpeg-master.tar.xz | tar -xJ --strip-components=1 -C thirdparty/ffmpeg
    - name: Build
      run: |
        mkdir build32
        cd build32
        cmake .. \
          -DCMAKE_TOOLCHAIN_FILE=$ANDROID_NDK_HOME/build/cmake/android.toolchain.cmake \
          -DANDROID_ABI=armeabi-v7a \
          -DANDROID_PLATFORM=android-21
        make
    - uses: actions/upload-artifact@v4
      with:
        name: android32-binary
        path: build32/libdenys_video_importer.so

  build-windows:
    runs-on: windows-latest
    name: Windows
    steps:
    - uses: actions/checkout@v3
    - uses: ilammy/msvc-dev-cmd@v1
    - name: Download FFmpeg
      run: |
        curl -L -o ffmpeg.zip https://www.gyan.dev/ffmpeg/builds/packages/ffmpeg-release-full.7z
        7z x ffmpeg.zip -o./ffmpeg
        mkdir thirdparty/ffmpeg/include thirdparty/ffmpeg/lib
        copy ffmpeg/include/* thirdparty/ffmpeg/include/
        copy ffmpeg/lib/* thirdparty/ffmpeg/lib/
    - name: Build
      run: |
        mkdir build
        cd build
        cmake .. -G "NMake Makefiles"
        nmake
    - uses: actions/upload-artifact@v4
      with:
        name: windows-binary
        path: build/denys_video_importer.dll
