name: Build Geode Mod (Android)

on:
  push:
    branches: [ "main" ]

jobs:
  build-android64:
    runs-on: ubuntu-latest
    name: Android 64-bit
    steps:
    - uses: actions/checkout@v3
    - uses: nttld/setup-ndk@v1
      with:
        ndk-version: r26d
    - name: Configure & Build (arm64-v8a)
      run: |
        mkdir build64
        cd build64
        cmake .. \
          -DCMAKE_TOOLCHAIN_FILE=$ANDROID_NDK_HOME/build/cmake/android.toolchain.cmake \
          -DANDROID_ABI=arm64-v8a \
          -DANDROID_PLATFORM=android-21
        make
    - uses: actions/upload-artifact@v4
      with:
        name: android64-so
        path: build64/libvideo_importer.so

  build-android32:
    runs-on: ubuntu-latest
    name: Android 32-bit
    steps:
    - uses: actions/checkout@v3
    - uses: nttld/setup-ndk@v1
      with:
        ndk-version: r26d
    - name: Configure & Build (armeabi-v7a)
      run: |
        mkdir build32
        cd build32
        cmake .. \
          -DCMAKE_TOOLCHAIN_FILE=$ANDROID_NDK_HOME/build/cmake/android.toolchain.cmake \
          -DANDROID_ABI=armeabi-v7a \
          -DANDROID_PLATFORM=android-21
        make
    - uses: actions/upload-artifact@v4
      with:
        name: android32-so
        path: build32/libvideo_importer.so
